body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color:gray;
    font-family: sans-serif;
}

header {
    flex: 0 90px;
    display: flex;
    flex-direction: column;
    margin: 0;
    color:white;
    background-color: black;
}

#Title {
    padding: 10px;
}

#header-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pie {
    margin: 0 20px 0 10px;
}

#header-text {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    align-items: baseline;
    gap: 30px;
}

#header-bar nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0 10px 0 0;
}

.menu-button{
    flex: 0;
    color: white !important;

}