main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#find-input {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

#user-notification {
    flex: 0 1 20%;
    background-color: rgb(46, 46, 46) !important;
    color:white;
    margin: 0 5vw 0 0;
    text-align: center;
}

#text-retrieved {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#recipe-output {
    flex: 1 1;
    margin-right: 10px;
}

#user-notification {
    flex: 0 1 25vw;
    justify-content: end;
}