.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color:gray;
    font-family: sans-serif;
}

header {
    flex: 0 50px;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    gap: 10px;
    color:white;
    background-color: rgb(53, 36, 15);
}

#title-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 10px 0;
}

#icon {
    margin: 0 10px 0 10px;
}

#header-text {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    align-items: baseline;
    gap: 30px;
    margin: 0 0 0 10px;
}

#title-block nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0 10px 0 0;
}

.menu-button{
    color: white !important;
}

main {
    flex: 1;
    background-color: rgb(72, 67, 60);
    color: white;
}

footer {
    flex: 0 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(53, 36, 15);
    padding: 10px;
}

#tagDropdown {
    width: 10rem;
    background-color:gray;
}

@media (max-height: 500px) {
    header {
        display: none;
    }
    footer{
        display: none;
    }
}